<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moko.mk107dpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.moko.mk107dpro.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MK107DPro"
        android:theme="@style/LaunchActivityTheme">

        <activity
            android:name="com.moko.mk107dpro.activity.GuideActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.mk107dpro.activity.Main107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.MqttSettings107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mk107dpro.activity.SetAppMQTT107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mk107dpro.activity.ModifyName107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mk107dpro.activity.AboutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.DeviceScanner107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.DeviceDetail107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.DeviceSetting03Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.DeviceInfo107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.OTA107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.IndicatorSetting107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.DataReportTimeout107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.CommunicationTimeout107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.NetworkReportInterval107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.DuplicateDataFilter107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.ScannerUploadOption107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterMacAddress107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterAdvName107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterRawDataSwitch107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterIBeacon107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterUID107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterUrl107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterTLM107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterOther107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.UploadDataOption107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.SyncTimeFromNTP107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.SystemTime03Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.ModifyMQTTSettings107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.DeviceConfig107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.WifiSettings107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.NetworkSettings107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.NtpSettings107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.ScannerFilter107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.DeviceInformation107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.BleManager107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.BXPButtonInfo107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.BleOtherInfo107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.ReconnectTimeout107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterBXPButton107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterBXPTag107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.filter.FilterPIR107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.ModifyNetworkSettings107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.ModifySettings03Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.ModifyWifiSettings107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.set.ButtonReset107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mk107dpro.activity.BeaconDFU107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.moko.mk107dpro.activity.AdvertiseIBeacon107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.moko.mk107dpro.activity.MeteringSettings107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.moko.mk107dpro.activity.PowerMetering107dProActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <service android:name="com.moko.mk107dpro.service.DfuService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.mk107dpro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>
